<head>
    <!-- Boilerplate -->
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- External Styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Sofia+Sans:wght@100;200;300;400;800&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/4.1.0/dotdotdot.min.js" integrity="sha512-8ktnWJ2vveJSuBy1vrbrONhNQCPA9FFOo+yGyCUGnXMaBcPdEYovjEPxBC0Fpa/nbuXaPSio5fud6DPcSNssqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Local Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/hint.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>