<div id="div-info-panel" class="container-fluid d-flex flex-column align-items-center">
    <img src="/assets/images/avatar.png" alt="My Beautiful Face" width=180, height=180>
    <h1>{{ page.title }}</h1>
    <p id="p-tagline">{{ page.description }}</p>
    
    
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="col-1">
            <!-- blank div for positioning -->
        </div>
        <div>
            <ul id="ul-socials" class="list-inline list-unstyled">
                <li class="list-inline-item hint--top hint--bounce hint--rounded" aria-label="@BoyUnderTheMoon"><a href="https://www.instagram.com/boyunderthemoon/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="list-inline-item hint--top hint--bounce hint--rounded" aria-label="@onemandan"><a href="https://github.com/onemandan" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li class="list-inline-item hint--top hint--bounce hint--rounded" aria-label="#placeholder"><a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="col-1 d-flex justify-content-end">
            <i id="info-panel-expand-collapse" class="fa-solid fa-angle-up"></i>
        </div>
    </div>
    
</div>