/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    #div-wrapper {
        margin-bottom: 5rem;
        min-height: auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .figure-left {
        float: left;
        margin-right: 1rem;
        margin-bottom: 0;
        clear: both;
    }

    .figure-right {
        float: right;
        margin-left: 1rem;
        margin-bottom: 0;
        clear: both;
    }
}