---
layout: default
title: Blog
permalink: /blog.html
---

<h2 class="me-3"><i class="me-3 fa-solid fa-pen-nib"></i>Latest Posts</h2>
<p class="lead">Documenting some of my escapades</p>

<hr/>


<div class="row">
    {% for post in site.posts %}
    <div class="mb-4 col-lg-6 d-flex align-items-stretch">
        <div class="card post-preview" onclick="location.href='{{ post.url }}';">
            <img src="/assets/images/posts/{{ post.title }}/hero.png" class="card-img-top" alt="{{ post.title }} main image">
            <h5 class="card-header d-flex align-items-center justify-content-center h-100">{{ post.title }}</h5>
            <div class="card-body d-flex flex-column">
                <h6 class="card-subtitle d-flex align-items-center justify-content-center h-100">{{ post.description }}</h6>
                
                <hr/>
                <div class="post-excerpt mb-2">{{ post.excerpt }}</div>
                <p class="card-text"><small class="text-muted"><strong>Published:</strong> {{ post.date | date_to_string }}</small></p>
            </div>
            <div class="card-footer text-muted">
                {% for item in post.tags %}
                    <span>{{ item }}{% unless forloop.last %},{% endunless %}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    
    {% endfor %}
</div>