#div-info-panel {
    background-color: $colour-secondary;
    box-shadow: 0 0.5rem 1rem $colour-shadow-alpha;
    color: $colour-text-secondary;
    
    >h1 {
        font-size: 2.5rem;
        font-weight: $font-weight-title;
    }
    
    >p {
        font-family: $font-secondary;
        font-size: 1.75rem;
    }
    
    #ul-socials {
        padding: 0;
        margin: 0;

        >li >a {
            color: $colour-text-secondary;
            transition: $transition-fast;
            font-size: 2rem;
            opacity: 0.5;
            
            &:hover {
                transition: $transition-fast;
                opacity: 1;
            }
        }
    }
    
    #info-panel-expand-collapse {
        cursor: pointer;
        font-size: 1.75rem;
        opacity: 0.5;
    }
}