* {
    font-family: $font-primary;
}

body {
    background-color: $colour-background-secondary;
}

header {
    margin-top: -315px;
}

pre {
    background-color: $colour-tertiary;
    padding: 1rem;
}

hr {
    border-top: 1px solid $colour-shadow-alpha;
    margin: 1rem 0;
    width: 100%;
}

#div-wrapper {
    background-color: $colour-background-primary;
    box-shadow: $boxshadow-outline $colour-shadow-primary;
    padding: 0;
    min-height: 100vh;
}

#content-wrapper {
    color: $colour-text-primary;
    
    h2, h3, h4 {
        color: $colour-text-tertiary;
        font-weight: 800;
    }

    p, ul, .alert {
        text-align: justify;
    }

    .lead {
        text-align: center;
    }

    .content-images-wrapper-3 {
        >img {
            width: min(33%, 180px);
            height: auto;
        }
    }
}