#content-wrapper {
    figcaption {
       opacity: 0.4; 
    }

    .post-technology {
        background-color: $colour-secondary;
        color: $colour-text-secondary;
    }

    .post-hero-image {
        box-shadow: $boxshadow-outline $colour-shadow-primary;
        width: min(100%, 600px);
        height: auto;
    }
    
    .post-preview {
        cursor: pointer;
        transition: $transition-fast;
        
        h5 {
            transition: $transition-fast;
        }
        
        &:hover {
            border-color: $colour-highlight !important;
            transition: $transition-fast;
            
            h5 {
                color: $colour-text-tertiary;
                transition: $transition-fast;
            }
        }
    }
    
    .post-excerpt {
        height: 6rem;
    }

    .card-subtitle, .card-header {
        max-height: 4rem;
    }
}
