@use "base/vars";

#content-wrapper {
    .post-technology {
        padding: 0.5rem;
        background-color: vars.$colour-secondary;
        color: vars.$colour-text-secondary;
    }

    .post-published {
        text-align: right;
    }

    .post-hero-image {
        box-shadow: 0 0 0.1rem vars.$colour-shadow-primary;
        width: min(100%, 600px);
        height: auto;
        margin-bottom: 1rem;
    }
    
    .post-preview {
        text-decoration: none;
        color: vars.$colour-text-primary;

        h3 {
            color: vars.$colour-text-tertiary;
        }
    }
}
