#content-wrapper {
    .post-technology {
        background-color: $colour-secondary;
        color: $colour-text-secondary;
    }

    .post-published {
        text-align: right;
    }

    .post-hero-image {
        width: min(100%, 600px);
        height: auto;
    }
    
    .post-preview {
        cursor: pointer;
        transition: $transition-fast;
        
        h5 {
            transition: $transition-fast;
        }
        
        &:hover {
            border-color: $colour-highlight !important;
            transition: $transition-fast;
            
            h5 {
                color: $colour-text-tertiary;
                transition: $transition-fast;
            }
        }
    }
    
    .post-excerpt {
        height: 6rem;
    }
}
