//ID Styles
#div-info-panel {
    background-color: var(--colSecondary);
    box-shadow: 0 0.5rem 1rem var(--colShAlpha);
    padding-bottom: 0.5rem;
    color: var(--colTtSecondary);
}

#div-info-panel > h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

#div-info-panel > p {
    font-family: 'Inconsolata', monospace;
    font-size: 1.75rem
}

#div-info-panel > img {
    margin: 1rem 0;
}

#ul-socials {
    padding: 0;
    margin: 0;
}

#ul-socials > li {
    margin: 0 1rem;
}

#ul-socials > li > a {
    color: var(--colTtSecondary);
    font-size: 2rem;
    opacity: 0.5;
    transition: 0.3s;
}

#ul-socials > li > a:hover {
    opacity: 1;
    transition: 0.3s;
}

#info-panel-expand-collapse {
    cursor: pointer;
    opacity: 0.5;
}