//ID Styles
#div-wrapper {
    background-color: var(--colBgPrimary);
    box-shadow: 0 0 0.1rem var(--colShPrimary);
    padding: 0;
    min-height: 100vh;
}

#content-main {
    padding: 2rem 0 2rem 0;
    max-width: 100%;
    opacity: 0;
}

//Element Styles
body {
    background-color: var(--colBgSecondary);
}
