//ID Styles
#nav-menu {
    background-color: var(--colPrimary);
    box-shadow: 0 .5rem 1rem var(--colShAlpha);
}

//Class Styles
.navbar-brand > img, .navbar-nav > a > i {
    margin-right: 0.5rem;
}