<!DOCTYPE html>
<html>        
    {% include head.html %}
    
    <body>
        <div class="container">
            <div class="row">
                <div id="div-wrapper" class="container-fluid d-flex flex-column">
                    
                    {% include navigation.html %}
                    
                    <header>
                        {% include info-panel.html %}
                    </header>
                    
                    <main class="container-fluid d-flex flex-column align-items-center flex-grow-1">
                        <div id="content-main"  class="pt-4 pb-5 col-md-8 col-sm-10">
                            <article id="content-wrapper" class="container-fluid d-flex flex-column">
                                {{ content }}
                            </article>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        
        {% include foot.html %}
    </body>
</html>