<!DOCTYPE html>
<html>
    <head>
        <!-- Boilerplate -->
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
        
        <script src="/assets/js/phaser.min.js"></script>
        
        <style>
            body {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            canvas {
                border-style: solid;
            }
        </style>
    </head>
    <body>
        {{ content }}
    </body>
</html>