---
layout: default
---

<section class="d-flex flex-column align-items-center">
    <h2>{{ page.title }}</h2>

    <p class="lead">{{ page.description }}</p>

    <img class="post-image" src="/assets/images/posts/{{ page.image }}">

    <div class="d-flex gap-2">
        {% for item in page.technologies %}
            <span class="rounded post-technology">{{ item }}</span>
        {% endfor %}
    </div>
</section>

<hr/>

{{ content }}

<hr/>

<p class="post-published"><strong>Published:</strong> {{ page.date | date_to_string}}</p>