//Fonts
$font-primary: 'Sofia Sans', sans-serif;
$font-secondary: 'Inconsolata', monospace;

//Transitions
$transition-slow: 0.5s;
$transition-fast: 0.3s;

//Colours
$colour-primary: #2B6777;
$colour-secondary: #52AB98;
$colour-tertiary: #C8D8E4;
$colour-background-primary: #FFFFFF;
$colour-background-secondary: #F2F2F2;
$colour-text-primary: #1D1D1D;
$colour-text-secondary: #FFFFFF;
$colour-text-tertiary: #FC5130;
$colour-shadow-primary: #BEBFBC;
$colour-shadow-alpha: rgba(0, 0, 0, 0.15);