//Fonts
$font-primary: 'Sofia Sans', sans-serif;
$font-secondary: 'Inconsolata', monospace;
$font-weight-title: 800;

//Transitions
$transition-slow: 0.5s;
$transition-fast: 0.3s;

//Colours
$colour-primary: #2B6777;
$colour-secondary: #52AB98;
$colour-tertiary: #C8D8E4;
$colour-highlight: #0D6EFD;
$colour-background-primary: #FFFFFF;
$colour-background-secondary: #F2F2F2;
$colour-text-primary: #1D1D1D;
$colour-text-secondary: #FFFFFF;
$colour-text-tertiary: #FC5130;
$colour-text-code: #D63384;
$colour-shadow-primary: #BEBFBC;
$colour-shadow-alpha: rgba(0, 0, 0, 0.15);

//Box Shadows
$boxshadow-medium: 0 0.5rem 1rem;
$boxshadow-outline: 0 0 0.1rem;