:root {
    //Main palette
    --colPrimary: #2B6777;      //Caribbean Current
    --colSecondary: #52AB98;    //Keppel
    --colTertiary: #C8D8E4;     //Columbia Blue
    
    //Background
    --colBgPrimary: #FFFFFF;    //White
    --colBgSecondary: #F2F2F2;  //White Smoke
    
    //Text
    --colTtPrimary: #1D1D1D;    //Eerie Black
    --colTtSecondary: #FFFFFF;  //White
    --colTtTertiary: #FC5130;   //Tomato
    
    //Shadows
    --colShPrimary: #BEBFBC;    //Silver
    --colShAlpha: rgba(0,0,0,.15);
}