//ID Styles
#div-info-panel > #p-tagline {
    font-family: 'Inconsolata', monospace;
    font-size: 1.75rem
}

#div-info-panel > h1 {
    font-weight: 800;
}

//Element Styles
body {
    font-family: 'Sofia Sans', sans-serif;
}